body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
  color: greyblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e2f;
  padding: 15px 25px;
}

.logo {
  color: #4fc8ef;
  font-weight: bold;
  font-size: 18px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #4fc8ef;
}

.hero {
  text-align: center;
  padding: 90px 20px;
  background: linear-gradient(to right, #4fc8ef, #1e1e2f);
  color: white;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #4fc8ef;
  color: #000;
  text-decoration: none;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.content,
.contact {
  padding: 40px;
}

.skills {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.portfolio {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.project {
  background: white;
  padding: 20px;
  flex: 1;
  border-radius: 8px;
}

.project img {
  width: 100%;
}

.timeline li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1e1e2f;
  color: white;
}